[submodule "Source/FreePascalSupport/Generics.Collection"]
	path = Source/FreePascalSupport/Generics.Collection
	url = https://github.com/Wosi/generics.collections.git
[submodule "Source/FreePascalSupport/FPC_StringBuilder"]
	
        path = Source/FreePascalSupport/FPC_StringBuilder
	
        url = https://github.com/Wosi/FPC_StringBuilder.git
[submodule "Source/FastMM4"]
	path = Source/FastMM4
	url = https://github.com/pleriche/FastMM4
